<%- include('./partials/header.ejs') %>

<div class="hero">
    <div class="hero-left">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile-img">
    </div>
    <div class="hero-right">
        <h1>Om SaiRaj Rout</h1>
        <p>An aspiring full-stack web developer.</p> 
        <span>
            Hey I'm Om, an aspiring full-stack developer. I build fast, modern, and futuristic web                experiences—because the future should look as cool as it feels.
            Ever since I wrote my first lines of HTML & JavaScript, I was hooked. The idea of building something from scratch—turning ideas into fully functional web applications—excites me. 
            Full-stack developer by day, bug fixer by night. I make pixels dance and databases behave.
            When I'm not coding, you can find me listning music or playing video games. I'm a huge fan of anime and sci-fi movies.
        </span>
        <div class="hashtags">
            <p>#FullStackDeveloper #WebDevelopment #CodingLife #TechEnthusiast #AnimeFan #SciFiLover</p>
        </div>
        <div class="education">
            <h2>Education</h2>
            <p>Noida Institute of Engineering and Technology</p>
        </div>
        <div class="contact-logos">
            <ul>
                <li><a href="">linkedin</a></li>
                <li><a href="">github</a></li>
                <li><a href="">instagram</a></li>
            </ul>
        </div>
    </div>
</div>