<%- include('./partials/header.ejs') %>

        <div class="hero">
            <div class="prof-pic">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile-img">
            </div>
            <div class="hero-text">
                <h1>Hey I'm Om.</h1>
                <p>An aspiring full-stack web developer.</p>
            </div>
            <div class="hero-desc">
                <p>This portfolio showcases my skills in frontend and backend development, my approach to building modern web applications, and the projects that define my journey in crafting seamless digital experiences</p>
            </div>
            <div class="showcase">
                <p>show projects</p>
            </div>
        </div>
    </main>
</body>

</html>