<%- include('./partials/header.ejs') %>

<h1>My Projects</h1>
<div class="projects">
    <div class="project">
        <a href="">
            <img src="/image/Screenshot (49).png" alt="img">
            <div class="desc">
                <h2>Zomato Clone</h2>
                <p>Project 1 description</p>
            </div>
        </a>
    </div>
</div>