<%- include('./partials/header.ejs') %>

<h1>My Projects</h1>
<div class="projects">
    <div class="project">
        <a href="">
            <img src="/image/Screenshot (49).png" alt="img">
            <div class="desc">
                <h2>Zomato Clone</h2>
                <p>This project is a clone of the popular food delivery app Zomato.</p>
                <div class="skills">
                    <div class="div"><img src="/image/html.png" alt="html"></div>
                    <div class="div"><img src="/image/css-3.png" alt="css"></div>
                    <div class="div"><img src="/image/js.png" alt="js"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="add-box">
        <a href="#">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>